/* Wrapping total Select box  */

.wrapper {
  width: 100%;
  position: relative;
}

/* Select button design .. This is the button -- which will trigger for  content show or not.  */
.select_btn {
  padding: 5px 12px;
  background: #fff;
  width: 100%;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

/* This is content : which will initially disply none: but when button will trigger . it will display block.  */
.content {
  display: none;
}
.content_active {
  width: 100%;
  padding: 10px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 100;
  margin-top: 2px;
  background: #fff;
  position: absolute;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
}

/* This is search input field  */
.search input {
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 20px;
  border: 1px solid #b3b3b3;
}
.search input:focus {
  border: 2px solid #4285f4;
}
.search input::placeholder {
  color: #bfbfbf;
}

/* displaying all the items to select .  */
.content .options {
  margin-top: 10px;
  padding-right: 7px;
}

/* Designing the scrolbar to look Handy  */
.content_active::-webkit-scrollbar {
  width: 7px;
}
.content_active::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.content_active::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.content_active::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
.content_active li {
  height: 30px;
  padding: 0 13px;
}

/* When li is hover or selected then the css will do job . */
.options li:hover,
li.selected {
  border-radius: 5px;
  background: #f2f2f2;
  color: green;
}

/*  Thanks  */
