@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input {
  padding: 5px 10px;
  width: 100%;
}
/* Import Google Font - Poppins */

::selection {
  color: #fff;
  background: #4285f4;
}

.select_btn,
li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.continue_btn {
  padding: 5px 20px;

  border: none;
  background: rgb(95, 95, 228);
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
}
