.main {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}
.form_area {
  background: rgb(230, 230, 230);
  padding: 40px 20px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.billing_area {
  width: 90%;
}

.shipping_area {
  width: 90%;
}
.form_field {
  margin: 10px 0;
}
.shipping_header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.shipping_header button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: rgb(95, 95, 228);
  font-weight: bold;
  cursor: pointer;
}
